body {
    font-family: "Open Sans";
  }

 .section-loading{
  font-size: 40px;
  margin: auto;
  margin-top: 30px;
 } 
main{
    width: 400px;
    height: 680px;
    max-height: auto;
    /* background-color: yellow; */
    margin: auto;
    margin-top: 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    padding-bottom: none;
    
}

.search-area{
  height:10%;
  background-color: #ADD8E6;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
input{
  width:250px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  margin-right: -10px;
}
.search-button{
  background-color:transparent;
  border: none;
}
.search-button:hover{
  cursor: pointer;
}

.favorite-area{
  min-height: 25%;
  max-height: auto;
  background-color: #90EE90;
overflow-y: scroll;
}



.heading{
  margin: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}

.image-area{
  height: 50%;
  background-color: yellowgreen;
  position: relative;
  /* padding: 10px; */
}

.random{
  padding: 3px;
  padding-right: 6px;
  position: absolute;
  top: 6%;
  background-color: aliceblue;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.like-area{
  height: 120px;
  background-color: #ADD8E6;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#like-button{
    border: none;
    background-color: transparent;
    transition: all 0.5s;
}

#like-button:hover{
  transform: scale(1.2);
  cursor: pointer;
}
#like-button:active{
  transform: translateY(4px);
}

.food-name{
  font-size: 20px;
  font-weight: 600;
}

.fav-portrait>img{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 5px;
  margin: 4px;
}

.img-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: auto;
  }

::-webkit-scrollbar{
  width: 10px;
}

